.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  color: var(--ifm-color-primary);
  padding: 1rem;
}

.featureCard {
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid var(--ifm-color-emphasis-200);
  background-color: var(--ifm-card-background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.featureCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}